*{
    margin:0px;
    padding: 0px;
}
a{

    text-decoration: none;
    gap:30px;
    padding:10px;
    
}
a:hover{
    background-color: red;
    height:fit-content;
    width: fit-content;
    border-radius: 20px;
    
}
nav{
    background-color: aliceblue;
    height:60px;
    text-align: center;
    justify-content: center;
    padding-top: 20px;
    display: flex;
    border-radius: 10px;
    border-color: bisque;
}
#boxes{

    display: flex; 

   
}
#box1{
 flex: 1;              /*  sab box lai equal width deko */
    height: 200px;
    background-color: lightblue;
    border: 5px solid black;
}
footer{
     margin-top:550px ;
    text-align: center;
    background-color: rgb(234, 234, 241);


}